
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f4efe8;
    background-size: cover;
    background-position: center;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo-container {
    margin-top: -100px;
    position: relative;
    width: 100%;
    max-width: 1100px;
}

.photo-container img {
    width: 100%;
    height: auto;
    display: block;
}
header {
    color:white;
    text-align: center;
}

.header-content {
    position: absolute; 
    top: 0; 
    right: 0; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
}

nav a {
    color: lightskyblue;
    margin: 15px 0;
    padding: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color:darkblue; 
}

.content {
    color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 300px;
}


.countdown {
    margin-top:10px;
    font-size: 2rem;
    background-color:lightskyblue;
    color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: inline-block;
    max-width: 1100px;
    min-width: 300px;
}
.btn-buy-tickets {
    display: inline-block; 
    margin-top: 15x; 
    padding: 10px 20px; 
    background-color:lightblue; 
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s; 
}
.login-container,.Register-container{
    width: 400px; 
    padding: 60px;
    background-color:lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightblue;
    text-align: center; 
}


.login-container h2,.Register-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}


form label {
    text-align: left;
    font-weight: bold;
    font-size: 10px;
    color: #555555;
}


form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}


form button {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color:lightskyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color:blue;
}


.profile-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.profile-icon img {
    width: 70px;
    height: 70px;

}
.register-link {
    margin-top: 20px;
}

.register-link a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
.concert-list {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#concerts {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
#concerts p{
  background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 5px 0;
}